@font-face {
    font-family: 'Lato-Regular';
    src: local 'Lato-Regular',
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    src: local 'Lato-Light',
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoSemiboldt';
    src: local 'Lato-Semibold',
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoBoldt';
    src: local 'Lato-Bold',
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika-Regular';
    src: local 'Signika-Regular',
        url('../fonts/Signika-Regular.woff') format('woff'),
        url('../fonts/Signika-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika-Light';
    src: local 'Signika-Light',
        url('../fonts/Signika-Light.woff') format('woff'),
        url('../fonts/Signika-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika-SemiBold';
    src: local 'Signika-SemiBold',
        url('../fonts/Signika-SemiBold.woff') format('woff'),
        url('../fonts/Signika-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika-Bold';
    src: local 'Signika-Bold',
        url('../fonts/Signika-Bold.woff') format('woff'),
        url('../fonts/Signika-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}