@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin hover($color) {
    &:hover {
        background-color: $color;
    }
}

@mixin hovertext($color) {
    &:hover {
        color: $color;
    }
}

@mixin active {
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }

$screen-sm-max: 479.90px;
$screen-md-max: 767.90px;
$screen-lg-max: 991.90px;
$screen-xl-max: 1199.90px;
$screen-xxl-max: 1319.90px;


@mixin sm {
    @media only screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin md {
    @media only screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lg {
    @media only screen and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin xl {
    @media only screen and (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin xxl {
    @media only screen and (max-width: #{$screen-xxl-max}) {
        @content;
    }
}
