<section class="best-selling">
    <div class="container">

        <h2 class=" best-selling__title title">
            Топовые товары
        </h2>

        <div data-ref="container-1">
            <ul class="best-selling__nav filter-products">
                <li class="best-selling__item nav-item">
                    <button class="best-selling__category filter-category" type="button" data-filter="all">
                        Все товары
                    </button>
                </li>

                <li class="best-selling__item nav-item">
                    <button class="best-selling__category filter-category" type="button"
                        data-filter=".category-fruit">
                        Фрукты
                    </button>
                </li>

                <li class="best-selling__item nav-item">
                    <button class="best-selling__category filter-category" type="button"
                        data-filter=".category-vegetable">
                        Овощи
                    </button>
                </li>

                <li class="best-selling__item nav-item">
                    <button class="best-selling__category filter-category" type="button"
                        data-filter=".category-drink">
                        Напитки
                    </button>
                </li>

                <li class="best-selling__item nav-item">
                    <button class="best-selling__category filter-category" type="button"
                        data-filter=".category-grocery">
                        Бакалея
                    </button>
                </li>
            </ul>

            <ul class="best-selling__products">
                <li class="best-selling__product  mix category-fruit">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge product-card__badge--new">
                                    Новинка
                                </span>
                                <span class="product-card__badge product-card__badge--sale">
                                    -50%
                                </span>
                                <span class="product-card__badge">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/pineapple.jpg" alt="ананас">
                        </a>

                        <a class="product-card__title" href="#">
                            Ананас, 1кг
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price product-card__price--old">
                                    1999 <span>₽</span>
                                </span>
                                <span class="product-card__price">
                                    999 <span> ₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-fruit">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges ">
                                <span class="product-card__badge">
                                    Новинка
                                </span>
                                <span class="product-card__badge">
                                    -50%
                                </span>
                                <span class="product-card__badge">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/lemon.jpg" alt="лимон">
                        </a>
                        <a class="product-card__title" href="#">
                            Лимон, 1кг
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price"></span>
                                <span class="product-card__price">
                                    199 <span>₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-fruit">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge">
                                    Новинка
                                </span>
                                <span class="product-card__badge">
                                    -50%
                                </span>
                                <span class="product-card__badge product-card__badge--hit">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/pitaya.jpg"
                                alt="Питахайя красная с белой мякотью">
                        </a>


                        <a class="product-card__title" href="#">
                            Питахайя красная с белой мякотью, 1шт
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price"></span>
                                <span class="product-card__price">
                                    1 019 <span>₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-vegetable">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge product-card__badge--new">
                                    Новинка
                                </span>
                                <span class="product-card__badge">
                                    -50%
                                </span>
                                <span class="product-card__badge">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/pepper.jpg" alt="Перец оранжевый">
                        </a>

                        <a class="product-card__title" href="#">
                            Перец оранжевый, 1кг
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price"></span>
                                <span class="product-card__price">
                                    349 <span>₽</span>
                                </span>
                            </div>


                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-vegetable">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge">
                                    Новинка
                                </span>
                                <span class="product-card__badge">
                                    -50%
                                </span>
                                <span class="product-card__badge product-card__badge--hit">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/carrot.jpg" alt="Морковь молодая">
                        </a>

                        <a class="product-card__title" href="#">
                            Морковь молодая с бабушкиной грядки, 1кг
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price"></span>
                                <span class="product-card__price">
                                    49 <span>₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-drink">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge">
                                    Новинка
                                </span>
                                <span class="product-card__badge product-card__badge--sale">
                                    -30%
                                </span>
                                <span class="product-card__badge">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/juice.jpg"
                                alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин">
                        </a>

                        <a class="product-card__title" href="#">
                            Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
                            безалкогольный...
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price card__price--old">
                                    299 <span>₽</span>
                                </span>
                                <span class="product-card__price">
                                    199 <span>₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-drink">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge product-card__badge--new">
                                    Новинка
                                </span>
                                <span class="product-card__badge">
                                    -50%
                                </span>
                                <span class="product-card__badge">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/coffee.jpg"
                                alt="Кофе с коноплей органический Caffé Salomoni 250г">
                        </a>
                        <a class="product-card__title" href="#">
                            Кофе с коноплей органический Caffé Salomoni 250г
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price"></span>
                                <span class="product-card__price">
                                    877 <span>₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>

                        </div>
                    </article>
                </li>

                <li class="best-selling__product  mix category-grocery">
                    <article class="best-selling__card product-card">
                        <div class="product-card__top">
                            <div class="product-card__badges">
                                <span class="product-card__badge">
                                    Новинка
                                </span>
                                <span class="product-card__badge">
                                    -50%
                                </span>
                                <span class="product-card__badge">
                                    Хіт
                                </span>
                            </div>

                            <button class="product-card__favor" type="button">
                                <span class="sr-only">
                                    Добавить товар в избранное.
                                </span>
                                <svg class="product-card__icon icon-heart">
                                    <use xlink:href="img/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <a class="product-card__image" href="#">
                            <img class="product-card__img" src="img/cards/ketchup.jpg"
                                alt="Кетчуп томатный детский органический Bio-Zentrale">
                        </a>

                        <a class="product-card__title" href="#">
                            Кетчуп томатный детский органический Bio-Zentrale 500мл
                        </a>
                        <div class="product-card__bottom">
                            <div class="product-card__prices">
                                <span class="product-card__price"></span>
                                <span class="product-card__price">
                                    600 <span>₽</span>
                                </span>
                            </div>

                            <button class="product-card__cart" type="button">
                                <span class="sr-only">
                                    Добавить товар в корзину.
                                </span>
                                <svg class="product-card__picture icon-cart">
                                    <use xlink:href="img/sprite.svg#cart"></use>
                                </svg>
                            </button>
                        </div>
        </div>
        </article>
        </li>
        </ul>
    </div>

    <button class="best-selling__btn btn" type="button">
        Показать еще
    </button>
</section>
