<header class="header">
    <div class="header__top">
        <div class="container">
            <nav class="header__nav">
                <span class="sr-only">Открить меню</span>
                <button class="btn-burger" type="button">
                    <span class="btn-burger__line"></span>
                </button>



                <ul class="header__contact">
                    <li class="header__item">
                        <a class="header__link header__link--del" href="#">
                            Адрес и время доставки
                        </a>
                    </li>

                    <li class="header__item">
                        <a class="header__link header__link--tel" href="#">
                            Горячая линия 24/7
                        </a>
                    </li>
                </ul>

                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            Доставка
                        </a>
                    </li>

                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            О нас
                        </a>
                    </li>

                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            Новости
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">
            <nav class="header__inner">

                <a class="logo" href="#">
                    <img class="logo__img" src="../img/logo/logo-freshok.svg" alt="Лого Фрешок">
                </a>

                <a class="logo-leaf" href="#">
                    <img class="logo-leaf-img" src="../img/logo/logo.svg" alt="Лого Фрешок">
                </a>
                <div class="header__wrap">
                    <div class="header__dropdown">
                        <button class="header__select" type="button"> Каталог
                            <span class="header__word">
                                продуктов
                            </span>
                        </button>
                        <ul class="header__dropdown-content">
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Овощи и фрукты
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Бакалея
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Молочные продукты
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Хлеб
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Мясо
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Колбаса
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Рыба
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Алкоголь
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Напитки
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Торты
                                </a>
                            </li>
                            <li class="header__category">
                                <a class="header__dropdown-link" href="#">
                                    Чай, кофе
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form class="header__search">
                        <label class="sr-only" for="name"></label>
                        <input class="header__input" type="search" id="name" name="search" required
                            placeholder="Найти в магазине ...">
                        <button class="header__btn" type="submit">
                            Поиск
                        </button>
                    </form>
                </div>

                <ul class="header__user-nav">
                    <li class="header__user-item header__user-item--search">
                        <a class="header__user-link header__user-link--search" href="#">
                            <span class="sr-only">
                                Поиск товара
                            </span>
                            <svg class="header__icon icon-search">
                                <use xlink:href="img/sprite.svg#search"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header__user-item header__user-item--user">
                        <a class="header__user-link" href="#">
                            <span class="sr-only">
                                Перейти в личний кабинет
                            </span>
                            <svg class="header__icon icon-user">
                                <use xlink:href="img/sprite.svg#user-link"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="header__user-item header__user-item--heart">
                        <a class="header__user-link" href="#">
                            <span class="sr-only">
                                Перейти в раздел с избранними товарами.
                            </span>
                            <svg class="header__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                            <span class="header__user-number header__user-number--heart ">
                                12
                            </span>
                        </a>
                    </li>

                    <li class="header__user-item header__user-item--cart">
                        <a class="header__user-link header__user-link--cart" href="#">
                            <span class="sr-only">
                                Перейти в корзину
                            </span>
                            <svg class="header__icon icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                            <span class="header__user-number header__user-number--cart">
                                12
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</header>