<section class="baners padding">
    <div class="container">

        <h2 class="sr-only">покупайте первыми</h2>
        
        <ul class="baners__inner">
            <li class=" baners__item baners__item--big">
                <a class="baners__link baners__link--big" href="#"
                    style="background-image: url('img/fruit-bg.jpg');">
                    <h3 class="baners__text">
                        Свежайшие фрукты
                    </h3>
                    <span class="baners__title baners__title--big">
                            Начни фруктовое лето всего от 99 ₽
                    </span>
                    <span class="baners__go baners__go--big">
                        Перейти к покупкам
                    </span>
                </a>
            </li>

            <li class="baners__item">
                <a class="baners__link" href="#" style="background-image: url('img/veg-bg.jpg');">
                    <h3 class="baners__text">
                        Сезонная разпродажа
                    </h3>
                    <span class="baners__title">
                            Овощепад до -50%
                    </span>
                    <span class="baners__go">
                        Перейти к покупкам
                    </span>
                </a>
            </li>

            <li class="baners__item">
                <a class="baners__link" href="#" style="background-image: url('img/bread-bg.jpg');">
                    <h3 class="baners__text">
                        Ням-ням
                    </h3>
                    <span class="baners__title">
                            Свежий хлебчик
                    </span>
                    <span class="baners__go">
                        Перейти к покупкам
                    </span>
                </a>
            </li>
        </ul>

    </div>
</section>