<section class="brends padding">
    <div class="container">

        <ul class="brends__items">
            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/Sprite.svg" alt="Лого Sprite">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/dr-pepper.svg" alt="Лого dr-pepper">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/CocaCola.svg" alt="Лого Coca Cola">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/pepsi.svg" alt="Лого Pepsi">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/redbull.svg" alt="Лого RedBull">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/fanta.svg" alt="Лого Fanta">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/pepsi.svg" alt="Лого Pepsi">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/redbull.svg" alt="Лого RedBull">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/fanta.svg" alt="Лого Fanta">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/Sprite.svg" alt="Лого Sprite">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/dr-pepper.svg" alt="Лого dr-pepper">
                </a>
            </li>

            <li class="brends__item">
                <a class="brends__logo" href="#">
                    <img class="brends__img" src="img/brends/CocaCola.svg" alt="Лого Coca Cola">
                </a>
            </li>
        </ul>

    </div>
</section>
