<section class="news">
    <div class="container">

        <div class="news__inner">
            <h2 class="news__title title">
                Наши новости
            </h2>
            <a class="news__btn" href="#">
                Все новости
            </a>
        </div>

        <ul class="news__wrapper">
            <li class="news__item">
                <article class="news__block">
                    <div class="news__date">
                        <span class="news__month">
                            июль
                        </span>
                        <span class="news__num">
                            15
                        </span>
                    </div>
                    <a class="news__link" href="#">
                        <img class="news__img" src="img/strowberry-bg.jpg" alt="Клубника">
                    </a>
                    <a class="news__subtitle" href="#">
                        Событие этого лета: распродажа фруктов в онлайн-маркете ФрешОК. 
                        Торопись, покa всё не разобрали!
                    </a>
                </article>
            </li>

            <li class="news__item">
                <article class="news__block">
                    <div class="news__date">
                        <span class="news__month">
                            май
                        </span>
                        <span class="news__num">
                            7
                        </span>
                    </div>
                    <a class="news__link" href="#">
                        <img class="news__img" src="img/mango-bg.jpg" alt="Манго">
                    </a>
                    <a class="news__subtitle" href="#">
                        Шикарнейший выбор манго в нашем онлайн-маркете
                    </a>
                </article>
            </li>

            <li class="news__item">
                <article class="news__block">
                    <div class="news__date">
                        <span class="news__month">
                            февраль
                        </span>
                        <span class="news__num">
                            20
                        </span>
                    </div>
                    <a class="news__link" href="#">
                        <img class="news__img" src="img/papaya-bg.jpg" alt="Папайя">
                    </a>
                    <a class="news__subtitle" href="№">
                        Всё, что вы хотели знать о папайя
                    </a>
            </li>
            </article>
        </ul>

    </div>
</section>