<section class="promotion padding">
    <div class="container">

        <h2 class="promotion__title title">
            Aкции
        </h2>

        <div data-ref="container-2">
            <ul class="promotion__nav filter-products">
                <li class="filter-products__item">
                    <button class="filter-products__btn" type="button" data-filter="all">
                        Все товары
                    </button>
                </li>

                <li class="filter-products__item">
                    <button class="filter-products__btn" type="button"
                        data-filter=".category-new">
                        Новинки
                    </button>
                </li>

                <li class="filter-products__item">
                    <button class="filter-products__btn" type="button"
                        data-filter=".category-hit">
                        Хиты
                    </button>
                </li>
            </ul>

            <ul class="promotion__cards">
                <li class="promotion__product mix category-new">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                        <span class="promotion-card__badge"></span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/cards/pineapple.jpg" alt="ананас">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Ананас, 1 кг
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">999<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion__cost promotion-card__cost--old">1999
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-new">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                        <span class="promotion-card__badge"></span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/cards/coffee.jpg"
                                alt="Кофе с коноплей органический Caffé Salomoni">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock">В наличии</span>
                                <span
                                    class="promotion-card__stock promotion-card__stock--end">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">777<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">877
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-new">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                        <span class="promotion-card__badge"></span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/promo/strowberry.jpg" alt="Клубника">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Клубника, 1 кг
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock">В наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock promotion-card__stock--none">Нет в
                                    наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">440<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">600
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-new">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                        <span class="promotion-card__badge"></span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/promo/mango.jpg" alt="Манго">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Манго, 1 шт
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">660<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">960
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-new">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge promotion-card__badge--new">Новинка</span>
                        <span class="promotion-card__badge"></span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/promo/salmon.jpg" alt="Лосось">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Лосось, 1 кг
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">999<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">1999
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-hit">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge"></span>
                        <span class="promotion-card__badge promotion-card__badge--hit">Хит</span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/promo/veg-juice.jpg" alt="Сок Granini овощной 100%">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Сок Granini овощной 100%, 0.5л
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock">В наличии</span>
                                <span
                                    class="promotion-card__stock promotion-card__stock--end">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">180<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">230
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-hit">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge"></span>
                        <span class="promotion-card__badge promotion-card__badge--hit">Хит</span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/promo/basket.jpg" alt="Фруктовая корзина">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Фруктовая корзина, 1 шт
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">3990<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">5990
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="promotion__product mix category-hit">
                    <article class="promotion__card promotion-card">
                        <span class="promotion-card__badge"></span>
                        <span class="promotion-card__badge promotion-card__badge--hit">Хит</span>

                        <a class="promotion-card__link" href="#">
                            <img class="promotion-card__picture" width="100" height="100"
                                src="img/promo/pork.jpg" alt="Свинина мякотьг">
                        </a>

                        <div class="promotion-card__info">
                            <a class="promotion-card__name" href="#">
                                Свинина мякоть, 1 кг
                            </a>
                            <div class="promotion-card__inner">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в наличии</span>
                                <div class="promotion-card__box">
                                    <div class="promotion-card__costs">
                                        <span class="promotion-card__cost">499<span class="promotion-card__carrency">₽</span></span>
                                        <span class="promotion-card__cost promotion-card__cost--old">599
                                            <span class="promotion-card__carrency">₽</span></span>
                                    </div>
                                    <div class="promotion-card__rating">
                                        <span class="promotion-card__num">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>

        <button class="promotion__btn btn" type="button">
            Показать еще
        </button>

    </div>
</section>
