<section class="slider-message">
    <h1 class="sr-only">
        Фрешок - всегда свежие продукти.
    </h1>

    <ul class="slider-message__inner">

        <li class="slider-message__item">
          <div class="slider-message__wrapper" style="background-image: url('img/bg-slider/carrot-slider.jpg')">
            <div class="container">
                <div class="slider-message__content">
                    <div class="slider-message__info slider-message__info--fresh ">
                        <h2 class="slider-message__title">
                            Свeжачок вам в хату 
                            <span class="slider-message__sale">
                                Скидка -50% 
                            </span>
                        </h2>
                        <div class="slider-message__date">
                            <p>
                                Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                            </p>
                        </div>
                    </div>
                    <a class="slider-message__btn btn" href="#">
                        Купить сейчас
                    </a>
                </div>
            </div>
        </div>
        </li>

        <li class="slider-message__item" >
            <div class="slider-message__wrapper" style="background-image: url(img/bg-slider/tomato-slider.jpg);">
            <div class="container">
                <div class="slider-message__content">
                    <div class="slider-message__info slider-message__info--tomat">
                        <h2 class="slider-message__title">
                            Накрути себе томатов

                            <span class="slider-message__sale">
                                Акция: 3 кг по цене 1
                            </span>
                        </h2>
                        <div class="slider-message__date">
                            <p>
                                Только с 12 по 15 июля скидка на домашние помидорчики
                            </p>
                        </div>
                    </div>
                    <a class="slider-message__btn btn" href="#">
                        Купить сейчас
                    </a>
                </div>
            </div>
            </div>
        </li>

        <li class="slider-message__item">
           <div class="slider-message__wrapper" style="background-image: url('img/bg-slider/salad-slider.jpg');">
            <div class="container">
                <div class="slider-message__content">
                    <div class="slider-message__info slider-message__info--green">
                        <h2 class="slider-message__title">
                            Пусть остальные позеленеют от зависти

                            <span class="slider-message__sale">
                                Распродажа зелени
                            </span>
                        </h2>
                    </div>
                    <a class="slider-message__btn btn" href="#">
                        Купить сейчас
                    </a>
                </div>
            </div>
        </div>
        </li>
        
    </ul>

</section>