.best-selling {
    padding-top: 72px;
    text-align: center;
    background-color: $white-500;

    &__nav {
        margin-bottom: 33px;
    }

    &__title {
        margin-bottom: 32px;
    }

    &__category {
        background-color: transparent;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 33px;
    }

    &__product {
        width: calc(100% / 4 - 30px);
        height: 410px;
        margin: 15px;
    }

    &__card {
        display: block;
        width: 100%;
        height: 410px;
        background: $white;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        &:hover {
            border-color: $green-500;
        }
    }

    &__btn {
        color: $green-500;
        background: $white;
        border: 1px solid $green-500;
        transition: background-color 0.3s;
        &:hover {
            background-color: $green-100;
        }
        &:focus {
            box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
            border-radius: 6px;
        }
        &:active {
            box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
        }
    }
}

.card {
    &__top {
        @extend %flex;
        position: relative;
    }

    &__badges {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        z-index: 2;
    }

    &__favor {
        background: transparent;
        position: absolute;
        right: 0px;
        top: 5px;
        z-index: 2;
        path {
            transition: fill 0.3s;
        }
        &:hover {
            path {
                fill: $yellow;
            }
        }
        &:active {
            path {
                fill: $yellow;
            }
        }
    }

    &__image {
        width: 100%;
        height: 215px;
        object-fit: cover;
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__title {
        // letter-spacing: 3%;
        // max-height: 60px;
        padding: 0px 5px;
        font-size: 14px;
        text-align: left;
    }

    &__bottom {
        padding: 0 6px;
        @extend %flex;
    }

    &__prices {
        @extend %lato-400;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__cart {
        padding: 8px;
        max-width: 32px;
        width: 100%;
        height: 32px;
        background-color: $green-500;
        border-radius: 3px;
        transition: background-color 0.3s;
        &:hover {
            background-color: $green-900;
        }
    }

    &__badge {
        display: none;
        @extend %lato-700;
        font-size: 10px;
        line-height: 1;
        letter-spacing: 3%;
        color: $white;
        text-transform: uppercase;
        border-radius: 6px;
        padding: 3px 6px;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        &--new {
            display: block;
            background-color: $green-500;
        }

        &--sale {
            display: block;
            background-color: $red;
            max-width: 37px;
            width: 100%;
        }

        &--hit {
            display: block;
            background-color: $orange;
            max-width: 34px;
            width: 100%;
        }
    }

    &__price--old {
        @extend %lato-400;
        line-height: 1;
        letter-spacing: 3%;
        color: $gray-900;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            transform: rotate(-10deg);
            left: 0;
            right: 0;
            height: 1px;
            bottom: 7px;
            background-color: $gray-900;
        }
    }
}
