.catalog {
    padding-top: 48px;

    @include lg {
        padding-top: 0;
    }

    &__title {
        @extend %signika-700;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 50px;

        @include lg {
            margin: 30px 0;
            font-size: 36px;
        }
    }

    &__inner {
        @extend %flex;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35px;

        &--hidden {
            display: none;
        }

        @include sm {
            margin: 0 -6px;
        }
    }

    &__item {
        &--grid {
            width: calc(100% / 3 - 30px);
            margin: 15px 0 15px 30px;

            @include active {
                border-color: $green-500;
            }

            @include lg {
                width: calc(100% / 2 - 30px);
            }

            @include md {
                width: calc(100% / 2 - 30px);
                margin: 15px;
            }

            @include sm {
                width: calc(100% / 2 - 12px);
                margin: 6px;
            }

            @include xs {
                width: 100%;
                margin: 6px;
            }
        }

        &--list {
            width: calc(100% / 2 - 30px);
            margin: 15px 0 15px 30px;

            @include lg {
                width: 80%;
                margin: 15px auto;
            }

            @include sm {
                width: 100%;
                margin: 6px;
            }
        }
    }

    &__bottom {
        @extend %flex;
        margin-bottom: 72px;

        @include lg {
            display: block;
            text-align: center;
        }
    }

    &__button {
        margin-left: 30px;

        @include lg {
            margin-bottom: 24px;
        }

        @include sm {
            margin-top: 20px;
        }
    }

    .product-card {
        &__image {
            position: relative;
        }

        &__plus {
            position: absolute;
            width: 100%;
            bottom: 0;
            @extend %flex;
            align-items: center;
        }
    }

    .promotion-card {
        &__inner {
            @extend %flex;
            align-items: baseline;
        }

        &__picture {
            height: auto;
        }

        &__link {
            max-width: 200px;
            height: 150px;
            margin-right: 12px;
        }

        &__info {
            max-width: 100%;
        }

        &__name {
            max-width: 210px;
            width: 100%;
        }

        &__stock {
            margin-bottom: 0;
        }
    }

    .card__inner {
        @extend %flex;
    }
}
