.promotion {
    background-color: $white-700;
    text-align: center;

    &__title {
        margin-bottom: 35px;
    }

    &__nav {
        margin-bottom: 33px;
        
        @include md {
            margin-bottom: 10px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 33px;

        @include lg {
            margin: 0 -14px 33px;
        }

        @include sm {
            margin: 0 0 24px;
        }
    }

    &__product {
        width: calc(100% / 4 - 30px);
        margin: 15px;

        @include xl {
            width: calc(100% / 3 - 30px);
        }

        @include lg {
            width: calc(100% / 3 - 14px);
            margin: 7px;
        }

        @include md {
            width: calc(100% / 2 - 14px);
            margin: 7px;
        }

        @include xs {
            width: 80%;
            margin: 7px auto;
        }
    }
}
