<section class="interesting">

    <div class="container">

        <h2 class="interesting__title">
            Вас может заинтересовать
        </h2>

        <ul class="interesting__items">

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge product-card__badge--new">
                                Новинка
                            </span>
                            <span class="product-card__badge product-card__badge--sale">
                                -50%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/pineapple.jpg" alt="ананас">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Ананас, 1кг
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price product-card__price--old">
                                1999 <span class="product__carrency">₽</span>
                            </span>
                            <span class="product-card__price">
                                999 <span class="product__carrency"> ₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges ">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/lemon.jpg" alt="лимон">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Лимон, 1кг
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                199 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge product-card__badge--hit">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/pitaya.jpg"
                            alt="Питахайя красная с белой мякотью">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Питахайя красная с белой мякотью, 1шт
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                1 019 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge product-card__badge--hit">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/carrot.jpg" alt="Морковь молодая">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock ">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock promotion-card__stock--none">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Морковь молодая с бабушкиной грядки, 1кг
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                49 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge product-card__badge--sale">
                                -30%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/juice.jpg"
                            alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
                        безалкогольный...
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price product-card__price--old">
                                299 <span class="product__carrency">₽</span>
                            </span>
                            <span class="product-card__price">
                                199 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge product-card__badge--new">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/coffee.jpg"
                            alt="Кофе с коноплей органический Caffé Salomoni 250г">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock">В
                                    наличии</span>
                                <span class="promotion-card__stock promotion-card__stock--end">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Кофе с коноплей органический Caffé Salomoni 250г
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                877 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

        </ul>
    </div>

</section>