<section class="product">
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">
                        Каталог товаров
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">
                        Питахайя красная с белой мякотью
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="product__wrapper">
           
            <div class="product__image">
                <ul class="product__slider">
                  <li class="product__slide">
                      <a class="product__link"  data-fancybox="single" href="../../img/dragonfruit.jpg" data-width="2048" data-height="1365">
                          <img class="product__img" src="../../img/dragonfruit.jpg" 
                              alt="Питахайя красная с белой мякотью" width="630" height="558"> 
                      </a>
                  </li>
  
                  <li class="product__slide">
                      <a class="product__link"  data-fancybox="single" href="../../img/cards/pitaya.jpg" data-width="2048" data-height="1365">
                          <img class="product__img" src="../../img/cards/pitaya.jpg" 
                              alt="Питахайя красная с белой мякотью">
                      </a>
                  </li>
                  <li class="product__slide">
                      <a class="product__link" data-fancybox="single" href="../../img/dragonfruit.jpg" data-width="2048" data-height="1365">
                          <img class="product__img" src="../../img/dragonfruit.jpg" 
                              alt="Питахайя красная с белой мякотью">
                      </a>
                  </li>
              </ul>  
              </div>

            <h1 class="product__name">
                Питахайя красная с белой мякотью
            </h1>         

            <div class="product__case">
                <span class="product__badges product__badges--hit">Хит</span>
                <span class="product__badges"></span>
                    <div class="product__inner">
                    <span class="product__code">Код: 0111111</span>
                    <img src="../../img/icons/raiting.svg" alt="рейтинг">
                    <span class="product__stock product__stock--is">В
                        наличии</span>
                    <span class="product__stock">Заканчивается</span>
                    <span class="product__stock">Нет в наличии</span>
                </div>
                <div class="product__prices">
                                <span class="product__price card__price--old">
                                    299 <span>₽</span>
                                </span>
                                <span class="product__price">
                                    199 <span>₽</span>
                                </span>
                            </div>
                <div class="product__box">
                    <div class="product__number">
                        <button class="product__btn product__btn--minus" type="button"></button>
                        <label class="sr-only" for="num"></label>
                        <input class="product__input" name="num" type="text">
                        <button class="product__btn product__btn--plus" type="button"></button>
                    </div>
                    <button class="product__button btn ">
                        <span>
                            Добавить в корзину
                        </span>
                    </button>
                    <button class="product-card__favor" type="button">
                        <span class="sr-only">
                            Добавить товар в избранное.
                        </span>
                        <svg class="product-card__icon icon-heart">
                            <use xlink:href="img/sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>
    
    
                <div class="product__delivery">
                    <span class="product__">Доставка и оплата</span>
                    <ul class="product__items">
                        <li class="product__item">
                            Минимальная сумма заказа - 100 руб.
                        </li>
                        <li class="product__item">
                            Время доставки заказа - 60-120 мин.
                        </li>
                        <li class="product__item">
                            Оплата осуществляется только банковской картой.
                        </li>
                        <li class="product__item">
                            Окончательная сумма заказа формируется после сбора товаров.
                        </li>
    
                    </ul>
                    <a class="product__detail" href="#">Подробнее</a>
                </div>
    
            </div>

            
        </div>

        <div class="product__content">
            <ul class="product__tabs tabs">
                <li class="tabs__item">
                    <a class="tabs__link" href="#descript">Описание</a>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link" href="#charact">Характеристика</a>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link" href="#review">
                        Отзиви<span>(3)</span>
                    </a>
                </li>
               
            </ul>
            <div class="tabs__body">
                <div class="tabs__block" id="descript">
                    <p>
                        Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует укреплению иммунной системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает противовоспалительное действие, так как фрукт богат антиоксидантами. При употреблении питахайи, понижается уровень сахара в крови, улучшается зрение и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из воды, способствует снижению веса.                               
                   </p>
                    <p>
                        Витамины: С, Е, РР, витамины группы В 
                    </p>
                    <p>
                        Микроэлементы: железо, калий, кальций, магний, фосфор
                    </p>
                    <p>
                        Внешний вид товара может отличаться от изображений, представленных на сайте.
                    </p>
                </div>
                <div class="tabs__block" id="charact">
                    <ul class="tabs__list">
                        <li class="tabs__descript">
                            Вес:
                             <span class="tabs__character">
                                 250-350 г;
                                </span> 
                        </li>
                        <li class="tabs__descript">
                            Калорийность (на 100г):
                            <span class="tabs__character">
                                50 ккал;
                            </span>
                        </li>
                        <li class="tabs__descript">
                            Условия хранения:
                            <span class="tabs__character">
                                 температура от +3 до +8;
                                </span>
                        </li>
                        <li class="tabs__descript">
                            Другие названия:
                             <span class="tabs__character">
                                Драконов фрукт, Глаз дракона;
                                </span>
                        </li>
                        <li class="tabs__descript">
                            Страна происхождения:
                             <span class="tabs__character">
                                Вьетнам;
                                </span>
                        </li>
                        <li class="tabs__descript">
                            Срок хранения: 
                             <span class="tabs__character">
                                до 5 дней.
                                </span>
                        </li>
                        
                    </г>
                </div>
                <div class="tabs__block" id="review">
                   <h3 class="tabs__title"></h3>
                   <ul class="tabs__reviews">
                       <li>
                        <blockquote class="tabs__content">
                            <img class="tabs__photo" src="../../img/avatar.jpg" alt="фото">
                            <cite class="tabs__name">
                                Андрей
                            </cite>
                            <time class="tabs__time" >
                                10.06.2021
                            </time>
                            <div class="tabs__rate" id="rateYo"></div>
                            <div class="tabs__review">
                                <p>
                                    Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                                </p>
                            </div>
                        </blockquote>
                       </li>
                   </ul>
                </div>
            </div>
        </div>

        <h2 class="product__title">
            Вас может заинтересовать
        </h2>

        <ul class="product__interesting">
            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge product-card__badge--new">
                                Новинка
                            </span>
                            <span class="product-card__badge product-card__badge--sale">
                                -50%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/pineapple.jpg" alt="ананас">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Ананас, 1кг
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price product-card__price--old">
                                1999 <span class="product__carrency">₽</span>
                            </span>
                            <span class="product-card__price">
                                999 <span class="product__carrency"> ₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges ">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/lemon.jpg" alt="лимон">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Лимон, 1кг
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                199 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge product-card__badge--hit">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/pitaya.jpg"
                            alt="Питахайя красная с белой мякотью">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Питахайя красная с белой мякотью, 1шт
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                1 019 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge product-card__badge--hit">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/carrot.jpg" alt="Морковь молодая">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock ">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock promotion-card__stock--none">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Морковь молодая с бабушкиной грядки, 1кг
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                49 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge">
                                Новинка
                            </span>
                            <span class="product-card__badge product-card__badge--sale">
                                -30%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/juice.jpg"
                            alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock promotion-card__stock--is">В
                                    наличии</span>
                                <span class="promotion-card__stock">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
                        безалкогольный...
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price product-card__price--old">
                                299 <span class="product__carrency">₽</span>
                            </span>
                            <span class="product-card__price">
                                199 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

            <li class="catalog__item">
                <article class="catalog__card product-card">
                    <div class="product-card__top">
                        <div class="product-card__badges">
                            <span class="product-card__badge product-card__badge--new">
                                Новинка
                            </span>
                            <span class="product-card__badge">
                                -50%
                            </span>
                            <span class="product-card__badge">
                                Хіт
                            </span>
                        </div>
                        <button class="product-card__favor" type="button">
                            <span class="sr-only">
                                Добавить товар в избранное.
                            </span>
                            <svg class="product-card__icon icon-heart">
                                <use xlink:href="img/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <a class="product-card__image" href="#">
                        <img class="product-card__img" src="img/cards/coffee.jpg"
                            alt="Кофе с коноплей органический Caffé Salomoni 250г">
                        <div class="product-card__plus">
                            <div class="promotin-card__wrap">
                                <span class="promotion-card__stock">В
                                    наличии</span>
                                <span
                                    class="promotion-card__stock promotion-card__stock--end">Заканчивается</span>
                                <span class="promotion-card__stock">Нет в
                                    наличии</span>
                            </div>
                            <div class="promotion-card__rating">
                                <span class="promotion-card__num">4.5</span>
                            </div>
                        </div>
                    </a>
                    <a class="product-card__title" href="#">
                        Кофе с коноплей органический Caffé Salomoni 250г
                    </a>
                    <div class="product-card__bottom">
                        <div class="product-card__prices">
                            <span class="product-card__price"></span>
                            <span class="product-card__price">
                                877 <span class="product__carrency">₽</span>
                            </span>
                        </div>
                        <button class="product-card__cart" type="button">
                            <span class="sr-only">
                                Добавить товар в корзину.
                            </span>
                            <svg class="product-card__picture icon-cart">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>

        </ul>



    </div>

    </div>
</section>