<section class="tabs-product">
    <div class="container">
        <ul class="tabs">
            <li class="tabs__item">
                <a class="tabs__link tabs__link--active" href="#descript">Описание</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#charact">Характеристика</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#review">
                    Отзиви<span>(3)</span>
                </a>
            </li>

        </ul>
        <div class="tabs__body">
            <div class="tabs__block tabs__block--active" id="descript">
                <p>
                    Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который
                    способствует укреплению иммунной системы. В составе питайи много клетчатки, она благотворно
                    влияет на работу ЖКТ. Оказывает противовоспалительное действие, так как фрукт богат
                    антиоксидантами. При употреблении питахайи, понижается уровень сахара в крови, улучшается зрение
                    и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из воды,
                    способствует снижению веса.
                </p>
                <p>
                    Витамины: С, Е, РР, витамины группы В
                </p>
                <p>
                    Микроэлементы: железо, калий, кальций, магний, фосфор
                </p>
                <p>
                    Внешний вид товара может отличаться от изображений, представленных на сайте.
                </p>
            </div>
            <div class="tabs__block" id="charact">
                <ul class="tabs__list">
                    <li class="tabs__descript">
                        Вес:
                        <span class="tabs__character">
                            250-350 г;
                        </span>
                    </li>
                    <li class="tabs__descript">
                        Калорийность (на 100г):
                        <span class="tabs__character">
                            50 ккал;
                        </span>
                    </li>
                    <li class="tabs__descript">
                        Условия хранения:
                        <span class="tabs__character">
                            температура от +3 до +8;
                        </span>
                    </li>
                    <li class="tabs__descript">
                        Другие названия:
                        <span class="tabs__character">
                            Драконов фрукт, Глаз дракона;
                        </span>
                    </li>
                    <li class="tabs__descript">
                        Страна происхождения:
                        <span class="tabs__character">
                            Вьетнам;
                        </span>
                    </li>
                    <li class="tabs__descript">
                        Срок хранения:
                        <span class="tabs__character">
                            до 5 дней.
                        </span>
                    </li>

                    </г>
            </div>
            <div class="tabs__block" id="review">
                <h3 class="tabs__title">Мнения наших клиентов</h3>
                <ul class="tabs__reviews">
                    <li class="tabs__review-item">
                        <blockquote class="tabs__content">
                            <div class="tabs__wrap">
                                <img class="tabs__photo" src="../../img/avatar.jpg" alt="фото">
                                <div class="tabs__inner">
                                    <cite class="tabs__name">
                                        Андрей
                                    </cite>
                                    <time class="tabs__time">
                                        10.06.2021
                                    </time>
                                </div>
                                <div class="tabs__rate" data-rateyo-rating="4"></div>
                            </div>

                            <div class="tabs__review">
                                <p>
                                    Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                                </p>
                            </div>
                        </blockquote>
                    </li>
                    <li class="tabs__review-item">
                        <blockquote class="tabs__content">
                            <div class="tabs__wrap">
                                <img class="tabs__photo" src="../../img/avatar.jpg" alt="фото">
                                <div class="tabs__inner">
                                    <cite class="tabs__name">
                                        Екатерина Белая
                                    </cite>
                                    <time class="tabs__time">
                                        07.06.2021
                                    </time>
                                </div>
                                <div class="tabs__rate" data-rateyo-rating="5"></div>
                            </div>

                            <div class="tabs__review">
                                <p>
                                    Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий
                                    (просто взрыв), но нет. Вкус "сдержанно-сладкий" и очень-очень свежий! Рад, что
                                    есть такая возможность - пробовать экзотические фрукты.
                                </p>
                            </div>
                        </blockquote>
                    </li>
                </ul>
                <h3 class="tabs__title">Оставить отзыв</h3>

                <div class="tabs__case">
                    <span class="tabs__label tabs__label--score">Ваша оценка *</span>
                    <div class="tabs__rate tabs__rate--rate" style="margin-left: 6px;"></div>
                </div>

                <form class="tabs__form">

                    <label class="tabs__label tabs__label--textarea" for="review">
                        Ваш отзыв *
                        <textarea class="tabs__forms tabs__forms--textarea" placeholder="Введите текст отзыва"
                            name="review" id="" cols="30" rows="10"></textarea>
                    </label>

                    <label class="tabs__label tabs__label--name" for="name">
                        Имя
                        <input class="tabs__forms tabs__forms--input" placeholder="Введите ваше имя" type="text"
                            name="name">
                    </label>
                    <label class="tabs__label tabs__label--mail" for="mail">
                        Email *
                        <input class="tabs__forms tabs__forms--input" placeholder="youremail@mail.com" type="mail"
                            name="mail" required>
                    </label>


                    <label class="tabs__check" for="check">
                        <input class="tabs__check-input" type="checkbox" name="check" id="check" required>
                        Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
                        <span class="tabs__checkbox"></span>
                    </label>
                    <button class="tabs__btn btn" type="submit">
                        Оставить отзыв
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>